* {
    font-family: "Nunito Sans", sans-serif;
}
body {
    position: static;
    height: 100%;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 10%;
    background-color: ye;
}

.navbar > img {
    width: 15%;
    background-position: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
main {
    height: 85%;
    background-color: rgb();
}
.mainfooter {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 5%;
    width: 100%;
    margin-bottom: -10px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
}

.cards {
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 3px 3px 0px lightgray;
    transition: 250ms;
}
.card:hover {
    background-color: lightgray;
}

.detail img, .card img {
    filter: drop-shadow(3px 3px 4px gray)
}

.container.detail {
    flex-direction: column;
}

.container > .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    border: solid 1px gray;
    background-color: 'linen';
    padding: 10px;
    min-width: 330px;
    box-shadow: 3px 3px 3px 0px lightgray;
}
.detail img {
    max-width: 300px;
}
.detail p {
    height: 80%;
    margin: 0px
}
.container.login {
    flex-direction: column;
}
.container.register {
    flex-direction: column;
}

.container > form, fieldset, legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container > form {
    background-color: #FFD200;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px gray;
}

input[type=submit], button.button {
    justify-content: center;
    background-color: #3A7BC8;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 2px 2px 10px 2px gray;
}

input[type=submit]:hover, button.button:hover {
    background-color: lightblue;
    color: black;
}

input[type=text], input[type=password], input[type=date] {
    padding: 5px;
    border-radius: 5px;
    border: none
}

fieldset {
    border-radius: 5px;
}
.error {
    color: red;
}